/*
╭───────────────────────────────────╮
│                                   │
│   LAPTOP BATTERY - GOUP DRAWER    │
│                                   │
╰───────────────────────────────────╯
*/

/* #battery.charging { -> moved to _wireplumber-privacy_mic.css
  margin: 3px;
  background: @color1;
  box-shadow: inset 0px 0px 3px @color11;
} */

@keyframes smooth-blink-warning {
  0% {
    color: @foreground;
  }

  50% {
    color: @color9;
  }

  /* #ffa500 */
  100% {
    color: @foreground;
  }
}

@keyframes smooth-blink-critical {
  0% {
    color: @foreground;
  }

  50% {
    color: @color10;
  }

  /* #ff0000 */
  100% {
    color: @foreground;
  }
}

#battery.warning {
  animation: smooth-blink-warning 2s ease-in-out infinite;
}

#battery.critical {
  animation: smooth-blink-critical 1s ease-in-out infinite;
}


/* Laptop Battery Group Drawer */

/* Power group drawer styling */
.laptop-bat-drawer {
  background: @color0;
  border-radius: 5px;
  margin: 2px;
  padding: 2px 6px;
  transition: all 0.2s ease-in-out;
}

.laptop-bat-drawer:hover {
  background: @color3;
  color: @background;
  /* box-shadow: 0px 0px 4px @color3; */
}