/*
╭───────────────────────────────────────────╮
│                                           │
│    WIREPLUMBER - PRIVACY MIC INDICATOR    │
│                                           │
╰───────────────────────────────────────────╯
*/

/* Wireplumber Volume Module */
#wireplumber {
    background: @color0;
    color: @foreground;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#wireplumber:hover {
    background: @color3;
    color: @background;
    /* box-shadow: 0px 0px 4px @color3; */
}

/* Volume Animation */
@keyframes volume-pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

#wireplumber.volume-changing {
    animation: volume-pulse 0.3s ease-in-out;
}

/* Tooltip Styling */
#wireplumber tooltip {
    background: @color0;
    color: @foreground;
    border-radius: 5px;
    padding: 4px 8px;
    border: 1px solid @color3;
}

#wireplumber tooltip label {
    font-size: 12px;
}

#bluetooth,
#wireplumber.muted,
#custom-mic,
#custom-mic.used,
#idle_inhibitor.deactivated,
#battery.charging {
    padding: 2px 6px;
    margin: 2px;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;

    color: @background;
    /* background: @color3;
    box-shadow: inset 0px 0px 4px @color14; */
    background: @color14;
    box-shadow: inset 0px 0px 2px @color1;
}

#bluetooth:hover,
#wireplumber.muted:hover,
#custom-mic:hover,
#custom-mic.used:hover,
#idle_inhibitor.deactivated:hover,
#battery.charging:hover {
    background: @color3;
    color: @background;
}